---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
import { ConstructionPage as Screen } from "../screens/ConstructionPage";
import { defaultCompany } from "../data/company";
import { getSiteSettings } from "../lib/siteSettings";

const companyData = (await getSiteSettings())?.company ?? defaultCompany;
---

<Layout
  title="Hydraulika i Montaż Przemysłowy | Multiserwis Kutno"
  description="Rurociągi przemysłowe, armatura, konstrukcje wsporcze i prace montażowo-konstrukcyjne dla przemysłu."
>
  <div>
    <Navbar client:load companyData={companyData} />
    <main class="flex-grow pt-[80px]">
      <Screen companyData={companyData} />
    </main>
    <Footer companyData={companyData} />
  </div>
</Layout>
