---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
import { ContactPage as Screen } from "../screens/ContactPage";
import { defaultCompany } from "../data/company";
import { getSiteSettings } from "../lib/siteSettings";
import { getSiteContent } from "../lib/siteContent";

const [siteSettings, siteContent] = await Promise.all([getSiteSettings(), getSiteContent()]);
const companyData = siteSettings?.company ?? defaultCompany;
---

<Layout
  title="Kontakt | Multiserwis Kutno"
  description="Skontaktuj się z nami. Dane kontaktowe, formularz, dojazd."
>
  <div>
    <Navbar client:load companyData={companyData} />
    <main class="flex-grow pt-[80px]">
      <Screen client:visible companyData={companyData} serviceOptions={siteContent.services.contactOptions} />
    </main>
    <Footer companyData={companyData} />
  </div>
</Layout>
