---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
import { AboutPage as Screen } from "../screens/AboutPage";
import { defaultCompany } from "../data/company";
import { getSiteSettings } from "../lib/siteSettings";

const companyData = (await getSiteSettings())?.company ?? defaultCompany;
---

<Layout
  title="O Firmie | Multiserwis Kutno"
  description="Certyfikowana jakość (ISO 9001:2015). Poznaj naszą historię i wartości."
>
  <div>
    <Navbar client:load companyData={companyData} />
    <main class="flex-grow pt-[80px]">
      <Screen companyData={companyData} />
    </main>
    <Footer companyData={companyData} />
  </div>
</Layout>
