---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
import { PrivacyPolicyPage as Screen } from "../screens/PrivacyPolicyPage";
---

<Layout
  title="Polityka Prywatności | Multiserwis Kutno"
  description="Informacje o przetwarzaniu danych osobowych i zasadach prywatności."
>
  <div>
    <Navbar client:load />
    <main class="flex-grow pt-[80px]">
      <Screen />
    </main>
    <Footer />
  </div>
</Layout>
