---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
import { PortfolioPage as Screen } from "../screens/PortfolioPage";
---

<Layout
  title="Realizacje | Multiserwis Kutno"
  description="Portfolio realizacji: wynajem maszyn, relokacje, UDT, spawalnictwo i usługi techniczne."
>
  <div>
    <Navbar client:load />
    <main class="flex-grow pt-[80px]">
      <Screen />
    </main>
    <Footer />
  </div>
</Layout>
