---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
import { TermsPage as Screen } from "../screens/TermsPage";
---

<Layout
  title="Regulamin | Multiserwis Kutno"
  description="Regulamin korzystania ze strony internetowej i zasad kontaktu ofertowego."
>
  <div>
    <Navbar client:load />
    <main class="flex-grow pt-[80px]">
      <Screen />
    </main>
    <Footer />
  </div>
</Layout>
