---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
import { RelocationPage as Screen } from "../screens/RelocationPage";
import { defaultCompany } from "../data/company";
import { getSiteSettings } from "../lib/siteSettings";

const companyData = (await getSiteSettings())?.company ?? defaultCompany;
---

<Layout
  title="Relokacja Maszyn | Multiserwis Kutno"
  description="Bezpieczne przenoszenie parku maszynowego i linii produkcyjnych."
>
  <div>
    <Navbar client:load companyData={companyData} />
    <main class="flex-grow pt-[80px]">
      <Screen companyData={companyData} />
    </main>
    <Footer companyData={companyData} />
  </div>
</Layout>
