---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
import { WeldingPage as Screen } from "../screens/WeldingPage";
import { defaultCompany } from "../data/company";
import { getSiteSettings } from "../lib/siteSettings";

const companyData = (await getSiteSettings())?.company ?? defaultCompany;
---

<Layout
  title="Usługi Spawalnicze | Multiserwis Kutno"
  description="Profesjonalne spawanie (MIG/MAG, TIG), naprawy maszyn i konstrukcje stalowe."
>
  <div>
    <Navbar client:load companyData={companyData} />
    <main class="flex-grow pt-[80px]">
      <Screen companyData={companyData} />
    </main>
    <Footer companyData={companyData} />
  </div>
</Layout>
