---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
import { UdtPage as Screen } from "../screens/UdtPage";
import { defaultCompany } from "../data/company";
import { getSiteSettings } from "../lib/siteSettings";

const companyData = (await getSiteSettings())?.company ?? defaultCompany;
---

<Layout
  title="Konserwacja, Serwis i UDT | Multiserwis Kutno"
  description="Kompleksowa obsługa UDT: konserwacja, przeglądy, serwis, diagnostyka i rejestracja urządzeń."
>
  <div>
    <Navbar client:load companyData={companyData} />
    <main class="flex-grow pt-[80px]">
      <Screen companyData={companyData} />
    </main>
    <Footer companyData={companyData} />
  </div>
</Layout>
